.about {
  padding: 4rem 0;
  line-height: 2rem;

  .hi {
    width: 50%;
    background: $dark;
    color: white;
    margin: auto;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 2rem 2rem 1rem;
    box-shadow: 0px 4px 10px 0px rgba(59, 58, 82, 0.43);

    .social {
      margin-top: 1rem;
      display: flex;
      justify-content: center;

      a {
        &:focus {
          outline: none;
          transform: scale(1.2) translateY(-0.5rem);
          transition: all 0.4s;
        }

        &:hover p {
          visibility: visible;
          transition: all 0.4s;
        }
        &:focus p {
          visibility: visible;
          transition: all 0.4s;
          outline: none;
        }

        p {
          visibility: hidden;
          color: white;
        }
      }

      .icon {
        background-color: $dark;
        color: white;

        &:hover {
          transform: scale(1.2) translateY(-0.5rem);
          transition: all 0.4s;
        }

        &:focus {
          outline: none;
          transform: scale(1.2) translateY(-0.5rem);
          transition: all 0.4s;
        }
      }
    }

    img {
      width: 3rem;
      height: 3rem;
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }

  .lower-about {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 10rem;
    padding: 1rem 0;

    .skill {
      flex: 55%;
      margin-right: 1rem;

      .skillboxes {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;

        .skillbox {
          padding: 1rem;
          background: $dark;
          box-shadow: 0px 4px 4px 0px rgba(59, 58, 82, 0.43);
          text-align: center;
          img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }

    .skill-image {
      flex: 45%;
    }
  }
}
