#four-card{
    background-image: url('/images/work/four-card-feature.jpg');
}

#personal-portfolio{
    background-image: url('/images/work/personal-portfolio.jpg');
}

#huddle-landing-page{
    background-image: url('/images/work/huddle-landing.jpg');
}


#ping-coming-soon{
    background-image: url('/images/work/ping-coming-soon.jpg');
}


#intro-component{
    background-image: url('/images/work/intro-component.jpg');
}

#base-apparel{
    background-image: url('/images/work/base-apparel.jpg');
}

#data-storage{
    background-image: url('/images/work/fylo-data-storage.jpg');
}

#coding-bootcamp{
    background-image: url('/images/work/coding-bootcamp.jpg');
}

#article-preview{
    background-image: url('/images/work/article-preview.jpg');
}

#social-proof{
    background-image: url('/images/work/social-proof.jpg');
}

#single-price{
    background-image: url('/images/work/single-price-grid.jpg');
}

#faq-accordion{
    background-image: url('/images/work/faq-accordion.jpg');
}

