#personal-portfolio {
  background-image: url("images/work/portfolio.png");
}
#map {
  background-image: url("images/work/map.png");
}
#issue-tracker {
  background-image: url("images/work/issue-tracker.png");
}
#exercise-tracker {
  background-image: url("images/work/exercise\ tracker.png");
}
#felt-teachers {
  background-image: url("images/work/felt-teachers.png");
}
#dashboard {
  background-image: url("images/work/dashboard.png");
}
#todo {
  background-image: url("images/work/todos.png");
}
#starter-list {
  background-image: url("images/work/starterlist.png");
}
#personal-library {
    background-image: url("images/work/personal-library.png");
  }
