#four-card{
    background-image: url('images/work/four-card-feature.jpg');
}

#personal-portfolio{
    background-image: url('images/work/portfolio.png');
}

#huddle-landing-page{
    background-image: url('images/work/huddle-landing.jpg');
}


#ping-coming-soon{
    background-image: url('images/work/ping-coming-soon.jpg');
}


#intro-component{
    background-image: url('images/work/intro-component.jpg');
}

#base-apparel{
    background-image: url('images/work/base-apparel.jpg');
}

#data-storage{
    background-image: url('images/work/fylo-data-storage.jpg');
}

#coding-bootcamp{
    background-image: url('images/work/coding-bootcamp.jpg');
}

#article-preview{
    background-image: url('images/work/article-preview.jpg');
}

#social-proof{
    background-image: url('images/work/social-proof.jpg');
}

#single-price{
    background-image: url('images/work/single-price-grid.jpg');
}

#faq-accordion{
    background-image: url('images/work/faq-accordion.jpg');
}

#ab-converter{
    background-image: url('images/work/american-british-translator.png');
}

#map{
    background-image: url('images/work/map.png');
}

#barchat{
    background-image: url('images/work/barchat.png');
}

#heatmap{
    background-image: url('images/work/heatmap.png')
}
#treemap{
    background-image: url('images/work/video-game.png');
}

#scatterplot{
    background-image: url('images/work/scatterplot.png');
}

#pomodoro{
    background-image: url('images/work/pomodoro.png');
}

#calculator{
    background-image: url('images/work/calculator.png');
}

#drum-machine{
    background-image: url('images/work/drum\ machine.png');
}

#markdown{
    background-image: url('images/work/markdown.png');
}

#random-quote{
    background-image: url('images/work/random\ quote.png');
}

#issue-tracker{
    background-image: url('images/work/issue-tracker.png');
}

#exercise-tracker{
    background-image: url('images/work/exercise\ tracker.png');
}

#personal-library{
    background-image: url('images/work/personal-library.png');
}

#sudoku-solver{
    background-image: url('images/work/sudoku-solver.png');
}

#metric-converter{
    background-image: url('images/work/metric-imperial-converter.png');
}

#url-shortener{
    background-image: url('images/work/url-shortner.png');
}

#file-metadata{
    background-image: url('images/work/file-metadata.png');
}

#timestamp{
    background-image: url('images/work/time=stamp.png');
}

#header-parser{
    background-image: url('images/work/header-parser.png');
}
