.contact {
  text-align: center;
  margin: auto;
  width: 80%;
  padding: 4rem 0;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    width: 70%;
    margin: auto;
  }

  .inner-contact {
    display: flex;
    margin-top: 3rem;

    .form {
      flex: 50%;
      margin-right: 2rem;
      box-shadow: 0px 8px 13px 0px rgba(59, 58, 82, 0.43);
      #name {
        @extend %input;
      }

      #email {
        @extend %input;
      }

      #subject {
        @extend %input;
      }

      #text {
        @extend %input;
      }

      #submit {
        padding: 0.7rem 1rem;
        border: none;
        background: $dark;
        color: white;
        width: 100%;
        height: 2.5rem;
        outline: none;

        &:hover {
          box-shadow: -1px 8px 13px 0px rgba(59, 58, 82, 0.43);
          transform: translateY(0.3rem);
          cursor: pointer;
          background: $light;
        }
      }
    }

    .contactimage {
      flex: 45%;
    }
  }
}
