@media all and (max-width: 1000px) {
  body {
    font-size: 18px;

    .home {
      .innerhome {
        width: 90%;
        height: 70%;

       
        h1 {
          font-size: 80px;
        }

        p {
          font-size: 20px;
        }

        .intro {
          .buttons {
            .hire {
              width: 100%;
              padding: 0.7rem 0.5rem;
            }

            .cv {
              width: 100%;
              padding: 0.7rem 0.5rem;
            }
          }
        }

      }
    }

    .about {
      .hi {
        width: 70%;
        padding: 1rem;
        
      }

      .lower-about {
        width: 85%;
        flex-direction: column;

        .skill {
          margin: 0;
          flex: 40%;

          .skillboxes {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            img {
              width: 3rem;
              height: 3rem;
            }
          }
        }

        .skill-image {
          display: none;
        }
      }
    }

    .works {
      .projects {

        .workboxes {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    .contact {
      width: 85%;

      p {
        width: 80%;
      }

      .inner-contact {
        .form {
          margin: 0;
        }
        .contactimage {
          display: none;
        }
      }
    }
  }
}
