@media all and(max-width: 600px) {
  body {
    font-size: 16px;

    .wrapper {
      .navbar {
        .inner-nav {
          .navlist {
            display: none;
          }
          .mobile-nav {
            display: inline-block;
          }
        }
      }

      .home {
        .innerhome {
          h1 {
            font-size: 70px;
          }
        }
      }

      .about {
        .hi {
          width: 90%;
        }

        .lower-about {
          width: 90%;
        }
      }

      .works {
        .projects {
          .workboxes {
            grid-template-columns: 1fr;
          }
        }
      }

      .contact {
        width: 90%;

       p {
          width: 100%;
        }
        
      }
    }
  }
}
