@media all and (max-width: 480px) {
  body {
    font-size: 16px;

    .wrapper {
      .navbar {
        padding: 0.5rem 0;
        .inner-nav {
          .navlist {
            display: none;
          }
          .mobile-nav {
            display: inline-block;
          }
        }
      }

      .home {
        .innerhome {
          flex-direction: column-reverse;

          .intro {
            .hire {
              height: 2.7rem;
            }

            .cv {
              height: 2.7rem;
            }
          }

          h1 {
            font-size: 70px;
          }
        }
      }

      .about {
        line-height: 1.5rem;
        .hi {
          width: 90%;
        }

        .lower-about {
          width: 90%;

          .skill {
            .skillboxes {
              grid-template-columns: 1fr 1fr 1fr;
            }
          }
        }
      }

      .works {
        .projects {
          .laptop-list {
            flex-wrap: wrap;
            button {
              margin-bottom: 0.5rem;
            }
          }
          .workboxes {
            grid-template-columns: 1fr;
          }
        }
      }

      .contact {
        width: 90%;
        line-height: 1.5rem;
        .inner-contact {
          .form {
            #submit {
              height: 2.7rem;
            }
          }
        }

        p {
          width: 100%;
        }
      }
    }
  }
}
