@media all and(max-width: 500px) {
  body {
    font-size: 16px;

    .wrapper {
      .navbar {
        .inner-nav {
          .navlist {
            display: none;
          }
          .mobile-nav {
            display: inline-block;
          }
        }
      }

      .home {
        .innerhome {
          padding-top: 4rem;

          h1 {
            font-size: 70px;
          }
        }
      }

      .about {
        .hi {
          width: 80%;
        }

        .lower-about {
          width: 90%;
        }
      }

      .works {
        .projects {
          .laptop-list {
            display: none;
          }
          .mobile {
            display: flex;
          }
          .workboxes {
            grid-template-columns: 1fr;
          }
        }
      }

      .contact {
        width: 90%;

        p {
          width: 100%;
        }
      }
    }
  }
}
