.navbar {
  background: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  background: $dark;
  z-index: 10;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  .inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    opacity: 0.9;

    .name {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      &:hover {
        transform: translateY(-0.3rem);
      }

      p {
        font-family: $megrim;
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }

    .navlist {
      display: flex;
      justify-content: space-around;

      a {
        padding: 0.5rem;
        color: white;

        &:hover {
          border-bottom: 2px solid $light;
        }

        &:active {
          background: white;
          color: $light;
        }
      }

      li {
        margin-left: 1.5rem;
        display: flex;
      }
    }

    .mobile-nav {
      display: none;

      &:hover {
        cursor: pointer;
      }

      .mobile {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}
