.navbar {
  background: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  background: $dark;
  z-index: 10;
  font-size: 0.8em;
  opacity: 0.9;

  img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5rem;
  }

  .inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    opacity: 0.9;

    a {
      &:focus {
        outline: none;
        transform: translateY(-0.3rem);
        transition: all 0.5s;
      }
    }

    .name {
      display: flex;
      align-items: center;

      &:hover {
        transform: translateY(-0.3rem);
        transition: all 0.5s;
      }

      p {
        font-family: $megrim;
        font-weight: bold;
        color: white;
      }
    }

    .navlist {
      li {
        display: inline-block;
        padding: 1rem;

        a {
          color: white;
          padding: 0.5rem 0;
          &:hover {
            border-bottom: 3px solid $light;
          }

          &:focus {
            outline: none;
            border-bottom: 3px solid $light;
          }
        }
      }
    }

    .mobile-nav {
      display: none;

      &:hover {
        cursor: pointer;
      }

      .mobile {
        width: 25px;
        height: 4px;
        background-color: white;
        margin: 3px 0;
        transition: 0.4s;
      }
    }

    .change .bar1 {
      transform: rotate(-45deg) translateX(-9px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      transform: rotate(45deg) translateX(-9px);
    }
  }
}
