@media all and(max-width: 800px){
    .home{
        .innerhome{
            flex-direction: column-reverse;
        }
    }

    .about{
        .lower-about{
            .skillboxes{
                grid-template-columns: 1fr 1fr 1fr;;
            }
        }
    }

    .works{
        .projects{
            .laptop-list {
                display: none;
              }
      
              .mobile {
                display: flex;
              }

            .workboxes{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}