.works {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 4rem 0;

  h2 {
    margin-bottom: 2rem;
  }

  p{
    margin-bottom: 0.5rem;
  }

  .projects {
    .laptop-list {
      display: flex;
      justify-content: space-evenly;
      margin: auto;
      margin-bottom: 2rem;
      width: 90%;
      

      li {
        padding: 0.5rem;
        border-bottom: 2px solid $dark;
        color: $dark;

        &:hover {
          color: $light;
          border-bottom: 2px solid $light;
          cursor: pointer;
        }
      }

      .active {
        color: $light;
        border-bottom: none;
      }
    }


    .mobile {
      display: none;
    }

    .workboxes {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      margin: auto;

      .workbox {
        padding: 0 0.5rem 1rem;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: 10px solid $dark;
        height: 20rem;
        display: none;
        flex-direction: column;
        justify-content: flex-end;

        &:hover {
          box-shadow: 0px 6px 20px 0px rgba(59, 58, 82, 0.43);
          transform: translateY(-0.5rem);
          border-bottom: 10px solid $light;
          
        }

        &:hover .description .tail{
          display: block;
        }

        &:hover .icons i{
          color: $light;
         
        }

        .icons {
          text-align: end;
          margin-bottom: 0.5rem;
          i {
            margin: 0 0.5rem;
            color: $dark;

           
          }
        }

        .description{
          .head{
            color: $dark;
            font-weight: bold;
            margin-bottom: 0.5rem;
        
          }

          .tail{
            font-size: 14px;
            display: none;
          }
        }

      }

      .show-work{
        display: flex;
      }
    }
  }
}
