@import "utils";
@import 'backgrounds';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-size: 20px;
  color: $dark;
  font-family: $roboto;

  img {
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: $light;
  }

  li {
    list-style: none;
  }

  .wrapper {
    position: relative;

    .mobile-navlist {
      background: $mid;
      margin: auto;
      width: 100%;
      display: none;
      text-align: center;
      top: 3rem;
      right: 0;
      position: fixed;

      ul {
        li {
          display: flex;

          a {
            color: white;
            padding: 0.5rem 0;

            width: 100%;

            &:hover {
              background: white;
              color: $light;
            }
          }
        }
      }
    }
    .show {
      display: block;
    }
  }
}

@import "nav";
@import "home";
@import "about";
@import "work";
@import "contact";
@import "footer";
@import "tablet";
@import "mobile";
